<p>
Dear <%= name %>,
</p>
<p>
LerGO has received a request to reset your password.<br/>
To reset your password please press the link below and follow instructions<br/>
</p>
<p>
    <a href="<%= link %>"><%= link %></a>
</p>
<p>
Thanks, <br/>
The LerGO Team
</p>
<p>
    <a href="<%= lergoLink %>"><img src="<%= lergoLogoAbsoluteUrl %>"/></a>
</p>

