<p>
Dear <%= name %>,
</p>
<p>
Thank you for signing up to LerGO! <br/>
To proceed with the signup please verify your email by pressing the link below <br/>
and follow instructions there<br/>
</p>
<p>
    <a href="<%= link %>"><%= link %></a>
</p>
<p>
Thanks, <br/>
The LerGO Team
</p>
<p>
    <a href="<%= lergoLink %>"><img src="<%= lergoLogoAbsoluteUrl %>"/></a>
</p>

