<p>
Dear <%= name %>,
</p>
<p>
LerGO has received a request to signup to the service from this address<br/>
To complete the process please click the link below and validate your address<br/>
</p>
<p>
    <a href="<%= link %>"><%= link %></a>
</p>
<p>
Thanks, <br/>
The LerGO Team
</p>
<p>
    <a href="<%= lergoLink %>"><img src="<%= lergoLogoAbsoluteUrl %>"/></a>
</p>

