<p>
Dear <%= name %>,
</p>
<p>
You were invited to do a lesson<br/>
click to the link below to start the lesson<br/>
</p>
<p>
    <a href="<%= link %>"><%= link %></a>
</p>
<p>
Thanks, <br/>
The LerGO Team
</p>
<p>
    <a href="<%= lergoLink %>"><img src=" <%= lergoLogoAbsoluteUrl %>"/></a>
</p>

