<p>
Dear <%= name %>,
</p>
<p>

<%= inviterName %> (<%= inviterEmail %>) is inviting you to do the lesson <%= lessonTitle %>.<br/>
Click on the link below to start the lesson:<br/>
</p>
<p>
    <a href="<%= link %>"><%= link %></a>
</p>
<p>
Powered by LerGO - Educate Yourself.<br/>
<a href="http://www.lergodev.info/#/public/terms">Terms of Service</a> - Send Feedback - Report Abuse - Suggest a Lesson<br/>
</p>
<p>
Thanks, <br/>
The LerGO Team
</p>
<p>
    <a href="<%= lergoLink %>"><img src=" <%= lergoLogoAbsoluteUrl %>"/></a>
</p>

