
<% if (lessonLanguage) { %>
    <% if(lessonLanguage === 'hebrew'){ %>
        <p align="right">
            <%= name %>  שלום
        </p>
        <p align="right">

          <b><%= inviteeName %></b>    כרגע סיימ/ה את השיעור:   <b><%= lessonTitle %></b>  .     לחצ/י על הקישור כדי לראות את דוח השיעור
        <p align="right">
            <a href="<%= link %>"><%= link %></a>
        </p>
        <p align="right">
            Powered by <a href="http://www.lergo.org/">LerGO </a><br/>
            <a href="https://docs.google.com/forms/d/1wyO39CkCTiNAP1BrJLti0GjA8eMq6rv-QcZu0Lw1-tE/viewform?usp=send_form">תנאי שירות</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScGg1PjUqlNfCB-uOpk9InyGgMcjEyKD5jj8lMuKb-R3kEVyQ/viewform"> לשלוח משוב</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfL9ymX6GUbV8dGrvTv4E50525krIQMBdE48AQ0Fn_EGpF9Hg/viewform">לדווח על שימוש לרעה</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7GQJ3t5QkyXcc4qCqsacGMRclzEol3WIKRoKOZpgE-ERVWQ/viewform">להציע שיעור</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYSkKCd6lSlMWMXojaqdxqkIhK5O0UTKxgCnR90USc1t24YA/viewform?usp=sf_link">למה אני מקבל/ת את האימייל הזה</a><br>
        </p>

    <% } else{ %>
        <p>
            Dear <%= name %>,
        </p>
        <p>

           <b> <%= inviteeName %></b> just completed lesson <b><%= lessonTitle %>!</b> Click on the link below to see the lesson report.
        <p>
            <a href="<%= link %>"><%= link %></a>
        </p>
        <p>
            Powered by <a href="http://www.lergo.org/">LerGO - Educate Yourself.</a><br/>
            <a href="https://docs.google.com/forms/d/1wyO39CkCTiNAP1BrJLti0GjA8eMq6rv-QcZu0Lw1-tE/viewform?usp=send_form">Terms of Service</a> -
            <a href="https://docs.google.com/forms/d/1YQnB8KoouFW2cJHsO_bkdxAD2ekuLYJyvaH6AuIU-Ig/viewform?usp=send_form"> Send Feedback</a> -
            <a href="https://docs.google.com/forms/d/1t_CtQxTMJlTlLRx-3lSPv8bNfw3nVXpE2B2hGkdeSMg/viewform">Report Abuse</a> -
            <a href="https://docs.google.com/forms/d/1rU6sTKskoTqrd9u1wgiX_zG0QpfWsxizxe8CdDRj4fk/viewform?usp=send_form">Suggest a Lesson</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFtpXck4viIM7aTo7GoZST3z2Cojjn0BNsb-o2IAz627fYsw/viewform?usp=sf_link">Why am I getting this email?</a><br>
        </p>
<% }} %>

