<p>
Dear Admin,
</p>
<p>
<%=reporterName%> has just flagged the <%=itemType%> <span style="font-weight:bold">"<%=title%>"</span> that was created by <%=creatorName%>, because of <span style="font-weight:bold">"<%= reason %>"</span>. 
<br/>
Additional comments by reporter were:<%= comment %>
<br/>
</p>
<p>
    Please follow up on response from content creator and update in Admin hompeage the status of lesson respond. Please also make sure to update reporter for results. </p>
<p>
    Please note that LerGO takes these reports very seriously and that accounts are penalized for Terms of Community Guidelines violations and serious or repeated violations can lead to account termination.</p>

<p>
Thank you for your cooperation
<br/>
</p>
<p>
The LerGO Team
</p>

<p>
    Powered by <a href="http://www.lergo.org/">LerGO - Educate Yourself.</a>
    <br/>
    <a href="https://docs.google.com/forms/d/1wyO39CkCTiNAP1BrJLti0GjA8eMq6rv-QcZu0Lw1-tE/viewform?usp=send_form">Terms of Service</a> -
    <a href="https://docs.google.com/forms/d/1YQnB8KoouFW2cJHsO_bkdxAD2ekuLYJyvaH6AuIU-Ig/viewform?usp=send_form"> Send Feedback</a> -
    <a href="https://docs.google.com/forms/d/1t_CtQxTMJlTlLRx-3lSPv8bNfw3nVXpE2B2hGkdeSMg/viewform">Report Abuse</a> -
    <a href="https://docs.google.com/forms/d/1rU6sTKskoTqrd9u1wgiX_zG0QpfWsxizxe8CdDRj4fk/viewform?usp=send_form">Suggest a Lesson</a>
    <br/>
</p>

