Dear Admin,

<%=reporterName%> has just flagged the <%=itemType%> "<%=title%>" that was created by <%=creatorName%>, because of "<%= reason %>". 

Additional comments by reporter were :<%=comment %>
           
Please follow up on response from content creator and update in Admin homepage the status of lesson report. Please also make sure to update reporter for results.
    
Please note that LerGO takes these reports very seriously and that accounts are penalized for Terms or Community Guidelines violations and serious or repeated violations can lead to account termination.</p>

Thank you for your cooperation,

The LerGO Team


Powered by LerGO - Educate Yourself.
Terms of Service - Send Feedback - Report Abuse - Suggest a Lesson





